.content {
  max-width: 1400px;
  background:white;
  box-shadow: 0 4px 8px 0 rgba(150, 147, 147, 0.2), 0 6px 20px 0 rgba(133, 132, 132, 0.19);
  padding: 10px;
  margin: auto;
  height: 3000px;
}
