nav {
  background: $primary-color;
  box-shadow: 0 0 5px 4px $primary-color;
  padding: 30px;
}
ul {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  text-decoration: none;
  max-width: 80%;
  position: absolute;
  right: 10%;
  left: 10%;
}
li {
  margin: -10px 20px;
  list-style: none;
  a {
    text-decoration: none;
    color: $primary-font-color;
    font-weight: bold;
  }
}

:visited:link {
  text-decoration: none;
  color: $primary-font-color;
}
.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  cursor: pointer;
  padding: 0.8rem;
  border: none;
  background: $primary-font-color;
  color: white;
  margin-top: -5px;
}
