@mixin flexCenter($margin) {
  display: flex;
  align-items: center;
  margin: $margin;
}

nav {
  max-width: 1400px;
  margin: auto;
  padding-left: 90px;
  padding-top: 30px;
}
ul {
  @include flexCenter(20px 0);
  text-decoration: none;
  max-width: 80%;
}
li {
  margin: -10px 20px;
  list-style: none;
  a {
    text-decoration: none;
    color: $primary-font-color;
    font-weight: bold;
    &:hover {
      color: rgb(250, 119, 11);
    }
  }
}

:visited:link {
  text-decoration: none;
  color: $primary-font-color;
}
.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  cursor: pointer;
  border: none;
  background: $primary-font-color;
  color: white;
  margin-top: -5px;
  border-radius: 3px;
  padding: 9px;
  transition: 1s;
  &:hover {
    background: white;
    color: $primary-font-color;
    // border: 1px solid $primary-font-color;
    padding-left: -2px;
  }
}
