@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap")
    format("eot");
}

$font-stack: Noto Sans JP, sans-serif;
$primary-color: #000000;

body {
  font-family: $font-stack;
}
nav {
  background: rgb(252, 250, 249);
  box-shadow: 0 0 5px 4px rgb(252, 250, 249);
  padding: 30px;
}
ul {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  text-decoration: none;
  max-width: 80%;
  position: absolute;
  right: 10%;
  left: 10%;
}
li {
  margin: 0 10px;
  list-style: none;
}
a:link {
  text-decoration: none;
  color: $primary-color;
}
.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  cursor: pointer;
  padding: 0.8rem;
  border: none;
  background: rgb(41, 39, 39);
  color: white;
}
